@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

header .navbar-nav {
  background-color: rgba(0, 0, 0, 0.6470588235);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  --bs-nav-link-color: #ffffff;
  --bs-nav-link-hover-color: #ffe100;
}
header .text {
  text-decoration: none;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    /*font-size: 25%;*/
  }
  header nav {
    background-image: url("../assets/header2.png");
    width: 100%;
    height: 7rem;
  }
  header nav .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 27rem;
  }
  header nav .navbar-toggler {
    color: #ffe100;
    background-color: #000000;
  }
  header nav .text {
    font-size: 1.7rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header nav .collapse {
    display: flex;
    justify-content: end;
  }
  header nav img {
    border-style: solid;
    border-color: #000000;
    border-width: 0.3rem;
    max-width: 10rem;
    max-height: 5rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    /*font-size: 35%;*/
  }
  header nav {
    background-image: url("../assets/header2.png");
    width: 100%;
    height: 10rem;
  }
  header nav .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 40rem;
  }
  header nav .navbar-toggler {
    color: #ffe100;
    background-color: #000000;
  }
  header nav .text {
    font-size: 2.5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  header nav .collapse {
    display: flex;
    justify-content: end;
  }
  header nav img {
    border-style: solid;
    border-color: #000000;
    border-width: 0.3rem;
    max-width: 11rem;
    max-height: 6rem;
    margin-left: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    /*font-size: 55%;*/
  }
  header nav {
    background-image: url("../assets/header2.png");
    width: 100%;
    height: 13rem;
  }
  header nav .text {
    font-size: 3.5rem;
  }
  header nav .text:hover {
    font-size: 4.3rem;
  }
  header nav img {
    border-style: solid;
    border-color: #000000;
    border-width: 0.3rem;
    max-width: 13rem;
    max-height: 8rem;
    margin-left: 2rem;
  }
  header nav img:hover {
    max-width: 15rem;
    max-height: 10rem;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.6470588235);
}
footer ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}
footer ul .info {
  color: #ffffff;
  font-size: 2rem;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
footer ul h4 {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
footer ul .info {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
footer ul .icon {
  color: #ffffff;
}
footer ul .icony {
  color: #ffffff;
}
footer ul .arrow {
  color: #ffffff;
}
footer .copy {
  display: inline-block;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  footer {
    height: 9rem;
    /*font-size: 25%;*/
  }
  footer li {
    margin-top: 1.2rem;
  }
  footer li h4 {
    font-size: 0.8rem;
  }
  footer li .info {
    font-size: 0.8rem;
  }
  footer li p {
    color: #ffffff;
    font-size: 0.5rem;
  }
  footer li .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  footer li .icony {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  footer li .arrow {
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  footer .copy {
    margin-left: 1rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    height: 15rem;
    /*font-size: 35%;*/
  }
  footer li {
    margin-top: 1.7rem;
  }
  footer li h4 {
    font-size: 1.5rem;
  }
  footer li .info {
    font-size: 1.5rem;
  }
  footer li p {
    color: #ffffff;
    font-size: 1rem;
  }
  footer li .icon {
    margin-top: 0.5rem;
    height: 3rem;
    width: 3rem;
  }
  footer li .icony {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    height: 3rem;
    width: 3rem;
  }
  footer li .arrow {
    margin-bottom: 1rem;
    height: 3rem;
    width: 3rem;
  }
  footer .copy {
    margin-left: 2rem;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    height: 21rem;
    /*font-size: 55%;*/
  }
  footer li {
    margin-top: 3rem;
  }
  footer li h4 {
    font-size: 2.5rem;
  }
  footer li .info {
    font-size: 2rem;
  }
  footer li p {
    color: #ffffff;
    font-size: 1.5rem;
  }
  footer li .icon {
    margin-top: 1rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  footer li .icony {
    margin-top: 1rem;
    margin-left: 3rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  footer li .arrow {
    margin-bottom: 1rem;
    height: 4rem;
    width: 4rem;
  }
  footer .copy {
    margin-left: 3rem;
    font-size: 1.8rem;
  }
}

.reserva {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.espacio {
  display: inline-block;
  margin-top: 2rem;
}

label {
  display: inline-block;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input, select {
  display: flex;
  margin-top: 0.5rem;
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.iframe {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-style: solid;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .reserva {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  .textform {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .formulario {
    width: 20rem;
  }
  label {
    margin-top: 1rem;
    font-size: 1rem;
  }
  input, select {
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 20rem;
  }
  .iframecont {
    width: 30rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
  }
  .iframe {
    height: 30rem;
  }
  /*font-size: 25%;*/
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .reserva {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0 auto;
  }
  .textform {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .formulario {
    width: 25rem;
    margin: 0 auto;
  }
  label {
    margin-top: 1rem;
    font-size: 2rem;
  }
  input, select {
    margin-top: 0.5rem;
    font-size: 2rem;
    width: 20rem;
  }
  .iframecont {
    width: 50rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
  }
  .iframe {
    height: 50rem;
  }
  /*font-size: 35%;*/
}
@media screen and (min-width: 1024px) {
  .textform {
    font-size: 3rem;
  }
  .formulario {
    width: 30rem;
    margin-bottom: 3rem;
  }
  label {
    margin-top: 1.5rem;
    font-size: 3rem;
  }
  input, select {
    margin-top: 0.5rem;
  }
  .col-lg-6 {
    font-size: 2rem;
  }
  .iframecont {
    margin-top: 3rem;
    text-align: center;
  }
  .iframe {
    margin-top: 5rem;
    height: 50rem;
    width: 50rem;
  }
  /*font-size: 55%;*/
}
html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}
html body {
  background-image: url("../assets/pavimento2.jpg");
  overflow-x: hidden;
}
html body .img-uno {
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #000000;
  border-bottom-color: #000000;
}
html body .btn-wpp {
  border-radius: 70%;
  background-color: rgba(0, 0, 0, 0.8509803922);
  position: fixed;
  border-style: solid;
  border-color: #000000;
  display: flex;
  align-items: center;
}
html body .svg {
  display: flex;
  color: #0ca201;
}
html body h3, html body h4, html body b {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
html body button {
  background-color: #000000;
  padding: 0.5rem;
  border-color: #ffe100;
}
html body button a {
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}
html body .imgkart {
  border-style: solid;
  border-color: #000000;
  border-radius: 2%;
}
html body .circuito {
  background-color: rgba(177, 177, 177, 0.6117647059);
  border-style: solid;
  border-color: #000000;
  border-radius: 5%;
}
html body .section {
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}
html body .amarillo {
  color: #ffe100;
  background-color: rgba(0, 0, 0, 0.6470588235);
  margin-top: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  html body {
    /*font-size: 25%;*/
  }
  html body section {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
  html body h1, html body h2 {
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  html body .parallax, html body .parallax-dos, html body .parallax-tres, html body .parallax-cuatro {
    height: 14vh;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  html body .parallax {
    background-image: url("../assets/kartings.jpg");
  }
  html body .parallax-dos {
    background-image: url("../assets/cuatriciclo-inicio.jpg");
  }
  html body .parallax-tres {
    background-image: url("../assets/utv-inicio.jpg");
  }
  html body .parallax-cuatro {
    background-image: url("../assets/circuitoo.jpg");
  }
  html body .fijo {
    height: 75%;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  html body .fijo a {
    text-decoration: none;
  }
  html body .fijo a h1, html body .fijo a h2 {
    font-size: 1.5rem;
  }
  html body h3 {
    font-size: 1.8rem;
  }
  html body b {
    font-size: 1.5rem;
  }
  html body button {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  html body .utv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
  }
  html body .imgkart {
    border-width: 0.2rem;
    height: 22rem;
    width: 38rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  html body .circuito {
    height: 25rem;
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  html body .btn-wpp {
    padding: 0.9rem;
    bottom: 5rem;
    margin-left: 1rem;
  }
  html body .svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html body {
    /*font-size: 35%;*/
  }
  html body section {
    margin-top: 3rem;
  }
  html body .parallax {
    /* Ajusta el tamaño de la sección parallax */
    height: 25vh;
    /* Imagen de fondo */
    background-image: url("../assets/kart-inicio-t.jpg");
    /* El fondo se fija cuando se desplaza la página */
    background-attachment: fixed;
    /* Posición y tamaño del fondo */
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* Crea el efecto parallax */
    transform: translateZ(0.5);
    perspective: 1px;
  }
  html body .fijo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    background-size: contain;
    text-align: center;
  }
  html body h1, html body h2 {
    font-size: 3rem;
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  html body h3 {
    font-size: 3rem;
  }
  html body b {
    font-size: 2.5rem;
  }
  html body button {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  html body .utv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
  }
  html body .utv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
  }
  html body .imgkart {
    border-width: 0.4rem;
    height: 50rem;
    width: 90rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  html body .circuito {
    height: 50rem;
    width: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  html body .btn-wpp {
    padding: 1.5rem;
    bottom: 8rem;
    margin-left: 1.5rem;
  }
  html body .svg {
    width: 3rem;
    height: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  html body {
    /*font-size: 55%;*/
  }
  html body section {
    margin-top: 4rem;
  }
  html body .parallax {
    /* Ajusta el tamaño de la sección parallax */
    height: 80vh;
    /* Imagen de fondo */
    background-image: url("../assets/kart-inicio.jpg");
    /* El fondo se fija cuando se desplaza la página */
    background-attachment: fixed;
    /* Posición y tamaño del fondo */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Crea el efecto parallax */
    transform: translateZ(0.5);
    perspective: 1px;
  }
  html body .fijo {
    /* Cubre la sección parallax */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /*Oscurece un poco la imagen*/
    text-align: center;
  }
  html body h1, html body h2 {
    font-size: 7rem;
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  html body .img-uno:hover {
    border-top-color: #ffe100;
    border-bottom-color: #ffe100;
  }
  html body h3 {
    font-size: 4rem;
  }
  html body h4 {
    font-size: 2.5rem;
  }
  html body b {
    font-size: 3rem;
  }
  html body .grid-info {
    grid-area: info;
  }
  html body .grid-img {
    grid-area: img;
  }
  html body .grid-img-c {
    grid-area: img-c;
    margin-top: 3rem;
  }
  html body .grid-reservar {
    grid-area: boton;
  }
  html body .grid-container {
    display: grid;
    width: 100%;
    height: 110vh;
  }
  html body .grid-img {
    margin-top: 8rem;
  }
  html body .grid-cont {
    display: grid;
    width: 100%;
    height: 112vh;
    grid-area: cont;
  }
  html body .grid-infom {
    grid-area: infom;
  }
  html body .grid-img-cm {
    grid-area: img-cm;
    margin-top: 10rem;
  }
  html body .grid-imgm {
    grid-area: imgm;
    margin-top: 8rem;
  }
  html body .grid-reserva {
    grid-area: botonm;
  }
  html body .grid-cont-utv {
    display: grid;
    width: 100%;
    height: 115vh;
  }
  html body .grid-info-utv {
    grid-area: info;
  }
  html body .grid-img-utv {
    grid-area: img;
    margin-top: 5.7rem;
  }
  html body .grid-imgc-utv {
    grid-area: imgc;
  }
  html body .grid-reservar-utv {
    grid-area: boton;
    margin-top: 2.5rem;
  }
  html body .grid-container {
    grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr; /*40rem 60rem*/
    grid-template-rows: 24rem 34rem 2rem;
    grid-template-areas: "info info info info" ". img-c img ." "boton boton boton boton";
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  html body .grid-cont {
    grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
    grid-template-rows: 35rem 25rem 2rem;
    grid-template-areas: "infom infom infom infom" ". img-cm imgm ." "botonm botonm botonm botonm";
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  html body .grid-cont-utv {
    grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
    grid-template-rows: 35rem 25rem 2rem;
    grid-template-areas: "info info info info" ". imgc img ." "boton boton boton boton";
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  html body button {
    font-size: 2.5rem;
    margin-top: 37rem;
    margin-left: 0 auto;
    margin-bottom: 2.5rem;
  }
  html body button:hover {
    border-color: #10bb00;
    font-size: 2.8rem;
  }
  html body .imgkart {
    height: 38rem;
    margin-left: 1rem;
    margin-top: 5rem;
  }
  html body .btn-wpp {
    padding: 2rem;
    bottom: 10rem;
    margin-left: 2rem;
  }
  html body .btn-wpp:hover {
    border-color: #0ca201;
  }
  html body .svg {
    width: 4rem;
    height: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */