@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
@import 'colors';
@import 'media-queries';
@import 'header';
@import 'footer';
@import 'reservas';

html {
    font-size: 62.5%;
    /* 1rem = 10px*/
    body {
    background-image: url("../assets/pavimento2.jpg");
    overflow-x: hidden;
        .img-uno {
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: $negro;
            border-bottom-color: $negro;
        }
        .btn-wpp {
            border-radius: 70%;
            background-color: #000000d9;
            position: fixed;
            border-style: solid;
            border-color: $negro;
            display: flex;
            align-items:center;
        }
        .svg{
            display: flex;
            color: $verde;
        }
        h3, h4, b {
            color: $blanco;
            font-family: "PT Serif", serif;
            font-weight: 700;
            font-style: normal;
        }
        button {
            background-color: $negro;
            padding: 0.5rem;
            border-color: $amarillo;
            a{
                color: $blanco;
                font-family: "PT Serif", serif;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;
            }
        }
        .imgkart {
            border-style: solid;
            border-color: $negro;
            border-radius: 2%;
        }
        .circuito {
            background-color: #b1b1b19c;
            border-style: solid;
            border-color: $negro;
            border-radius: 5%;
        }
        .section {
            margin-top: 5rem;
            text-align: center;
            width: 100%;
        }
        .amarillo {
            color: $amarillo;
            background-color: $negroNav;
            margin-top: 1rem;
        }
        @include mobile {
            section {
                margin-top: 3rem;
                margin-bottom: 1.5rem;
                width: 35rem;
                margin-left: auto;
                margin-right: auto;
            }
            h1, h2 {
                color: $blanco;
                font-family: "PT Serif", serif;
                font-weight: 700;
                font-style: normal;
                text-align: center;
            }
            .parallax, .parallax-dos, .parallax-tres, .parallax-cuatro {
                height: 14vh;
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .parallax {
                background-image: url('../assets/kartings.jpg');
            }
            .parallax-dos {
                background-image: url('../assets/cuatriciclo-inicio.jpg');
            }
            .parallax-tres {
                background-image: url('../assets/utv-inicio.jpg');
            }
            .parallax-cuatro {
                background-image: url('../assets/circuitoo.jpg');
            }
            .fijo {
                height: 75%;
                width: 35rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                a {
                    text-decoration: none;
                    h1, h2 {
                        font-size: 1.5rem;
                    }
                }
                
            }
            h3 {
                font-size: 1.8rem;
            }
            b {
                font-size: 1.5rem;
            }
            button {
                margin-bottom: 2rem;
                font-size: 1rem;
            }
            .utv {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                height: auto;
            }
            .imgkart {
                border-width: 0.2rem;
                height: 22rem;
                width: 38rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            .circuito {
                height: 25rem;
                width: 15rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .btn-wpp {
                padding: 0.9rem;
                bottom: 5rem;
                margin-left: 1rem;
            }
            .svg{
                width: 1.7rem;
                height: 1.7rem;
            }
        }
        @include tablet {
            
            section {
                margin-top: 3rem;
            }
            .parallax {
                /* Ajusta el tamaño de la sección parallax */
                height: 25vh;
                /* Imagen de fondo */
                background-image: url('../assets/kart-inicio-t.jpg');
                /* El fondo se fija cuando se desplaza la página */
                background-attachment: fixed;
                /* Posición y tamaño del fondo */
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: contain;
                /* Crea el efecto parallax */
                transform: translateZ(0.5);
                perspective: 1px;
            }
            .fijo {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.5);
                background-size: contain;
                text-align: center;
            }
            h1, h2 {
                font-size: 3rem;
                color: $blanco;
                font-family: "PT Serif", serif;
                font-weight: 700;
                font-style: normal;
                text-align: center;
            }
            h3 {
                font-size: 3rem;
            }
            b {
                font-size: 2.5rem;
            }
            button {
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }
            .utv {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                height: auto;
            }
            .utv {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                height: auto;
            }
            .imgkart {
                border-width: 0.4rem;
                height: 50rem;
                width: 90rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            .circuito {
                height: 50rem;
                width: 30rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            
            .btn-wpp {
                padding: 1.5rem;
                bottom: 8rem;
                margin-left: 1.5rem;
            }
            .svg{
                width: 3rem;
                height: 3rem;
            }
        }
        @include dekstop {
            section {
                margin-top: 4rem;
            }
            .parallax {
                /* Ajusta el tamaño de la sección parallax */
                height: 80vh;
                /* Imagen de fondo */
                background-image: url('../assets/kart-inicio.jpg');
                /* El fondo se fija cuando se desplaza la página */
                background-attachment: fixed;
                /* Posición y tamaño del fondo */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                /* Crea el efecto parallax */
                transform: translateZ(0.5);
                perspective: 1px;
            }
            .fijo {
                /* Cubre la sección parallax */
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.5); /*Oscurece un poco la imagen*/
                text-align: center;
            }
            h1, h2 {
                font-size: 7rem;
                color: $blanco;
                font-family: "PT Serif", serif;
                font-weight: 700;
                font-style: normal;
                text-align: center;
            }
            .img-uno {
                &:hover {
                    border-top-color: $amarillo;
                    border-bottom-color: $amarillo;
                }
            }
            h3 {
                font-size: 4rem;
            }
            h4 {
                font-size: 2.5rem;
            }
            b {
                font-size: 3rem;
            }
            .grid-info {
                grid-area: info;
            }
            .grid-img {
                grid-area: img;
            }
            .grid-img-c {
                grid-area: img-c;
                margin-top: 3rem;
            }
            .grid-reservar {
                grid-area: boton;
            }
            .grid-container {
                display: grid;
                width: 100%;
                height: 110vh;
            }
            .grid-img {
                margin-top: 8rem;
            }
            .grid-cont {
                display: grid;
                width: 100%;
                height: 112vh;
                grid-area: cont;
            }
            .grid-infom {
                grid-area: infom;
            }
            .grid-img-cm {
                grid-area: img-cm;
                margin-top: 10rem;
            }
            .grid-imgm {
                grid-area: imgm;
                margin-top: 8rem;
            }
            .grid-reserva {
                grid-area: botonm;
            }
            .grid-cont-utv {
                display: grid;
                width: 100%;
                height: 115vh;
            }
            .grid-info-utv {
                grid-area: info;
            }
            .grid-img-utv {
                grid-area: img;
                margin-top: 5.7rem;
            }
            .grid-imgc-utv {
                grid-area: imgc;
            }
            .grid-reservar-utv {
                grid-area: boton;
                margin-top: 2.5rem;
            }
            .grid-container {
                grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;/*40rem 60rem*/
                grid-template-rows: 24rem 34rem 2rem;
                grid-template-areas:
                "info info info info"
                ". img-c img ."
                "boton boton boton boton";
                column-gap: 2rem;
                justify-content: center;
                justify-items: center;
                text-align: center;
            }
            .grid-cont {
                grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
                grid-template-rows: 35rem 25rem 2rem;
                grid-template-areas:
                "infom infom infom infom"
                ". img-cm imgm ."
                "botonm botonm botonm botonm";
                column-gap: 2rem;
                justify-content: center;
                justify-items: center;
                text-align: center;
                
            }
            .grid-cont-utv {
                grid-template-columns: 0.1fr 0.4fr 0.4fr 0.1fr;
                grid-template-rows: 35rem 25rem 2rem;
                grid-template-areas:
                "info info info info"
                ". imgc img ."
                "boton boton boton boton";
                column-gap: 1.5rem;
                justify-content: center;
                justify-items: center;
                text-align: center;
            }
            button {
                font-size: 2.5rem;
                margin-top: 37rem;
                margin-left: 0 auto;
                margin-bottom: 2.5rem;
                &:hover {
                    border-color: #10bb00;
                    font-size: 2.8rem;
                }
            }
            .imgkart {
                height: 38rem;
                margin-left: 1rem;
                margin-top: 5rem;
            }
            .btn-wpp {
                padding: 2rem;
                bottom: 10rem;
                margin-left: 2rem;
                &:hover {
                    border-color: $verde;
                }
            }
            .svg{
                width: 4rem;
                height: 4rem;
            }
        }
    }
}